
body#inicio
		{
 		background-image: url('imagenes/fondo.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		display: block;
		padding: 0px;
		margin: 0px 0px 0px 0px;

 			}

 			body#inicio,body#inicio2,body#inicio3,body#inicio4::-webkit-scrollbar-track
						{
						-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
						border-radius: 5px;
						background-color: rgba(113, 113, 113, 0.65);
						}
			
					body#inicio,::-webkit-scrollbar
								{

							background-color: transparent;
							border-radius: 5px;
							}

					body#inicio,::-webkit-scrollbar-thumb
						{
						border-radius: 5px;
						/*background-color: #00d8ff;*/
									/*background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);*/
									/*background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);*/
									/*background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);*/
								}

		/*cabecera*/
		header.cabecera
		{
			background: rgba(41, 41, 41, 0.76);
			width: 100%;
			height: 100px;
			display: block;
			margin: 0;
			position: relative;
			top: -20px;
			padding: 0px;
			z-index: 2;
			box-shadow: 0px 5px  10px #00d8ff;
			
				}
		
				 img.logo{
		
 			margin: 15px;
 			margin-right: 30px;
 			width: 600px;
 			height: ;
 			padding-top: 10px;
 			display: inline-block;
 			float: left;
 			margin-bottom: 0;
		
		
 			}
		
 			
		
 				h1{
 			font-family: Papyrus LET;
 			display: inline-block;
 			position:;
 			margin-left: 30px;
 			font-size: 40px;
 			color: #00d8ff;
 			margin-top: 20px;
 			margin-bottom: 0;

 				}

 				form.uno{
 			width: 12%;
 			height: 20px;
 			margin: 1%;
 			margin-right: 2%;
 			margin-top: 2%;
 			margin-left: 0;
 			margin-bottom: 0;
 			float: right;
 			display: inline-block;
 			overflow: hidden;
 			}

 				input.bot{
 			width: 30px;
 			margin: 05px;
 			display: inline-block;
 			float: right;
		

 			}
 				p.idi{
 			margin: 0;

 			display: inline-block;
 			float: right;
 			font-family: goudy old style;
 			font-size: 18px;
 			color:#000000;
 			text-shadow: 1px 1px 1px #000000;
			 }
 			div.icosoc{
 				position: relative;
 		width: 18%;
 		margin: 0;
 		display: inline-block;
 		margin-left: 5%;
 		margin-top: 2%;
 		overflow: hidden;

 			}
		ul.redso{
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
		margin-top: 05px;


			}

			ul.redso li{
		display: inline-block;
		list-style: none;
		margin: 0;
		margin-left: 10px;
		margin-right: 10px;
	
			}

 		ul.menu{
 	
 		float: right;
 		list-style: none;
 		margin-right: 40px;
 		width:230px;
 		display: block;
 		}

 		ul.menu li{
 	
		 	margin: 10px;
		 	margin-right: 20px;
			font-size: 22px;
		 	padding: 10px;
		 }
		
				ul.menu a{
			text-decoration: none;
			color: white;
		
		}
		ul.menu li:hover{
			background: rgba(255, 214, 0, .48);
			transition: 1s;
			color: black;
			/*font-size: 20px;*/
			transition: 0.5s;
			text-shadow: 1px 1px 1px white;

			}
			ul.menu a:hover{
			background: orange;
			color: black;
			font-size: 18px;
			transition: 1s;
				}
				div#polsos, #polsos1, #polsos2{
		
			width: 800px;
			height: 400px;
			color: white;
			margin-left: 0px;
			padding-left: 0;
			overflow: auto;
			padding: 0;
			background: rgba(41, 41, 41, 0.76);
			position: relative;
			float: left;
			border-radius: 5px;
				}
			div.ira{
				position: absolute;
				z-index: 12;
				width: 35px;
				height: 35px;
				color: black;
				text-shadow: 3px;
				margin: 0;
				padding: 0;
				margin-top: 30px;
				font-size: 20px;
				font-family: papyrus let;
				background: rgba(41, 41, 41, 0.76);
				text-decoration: none;
				display: inline-block;
				padding-left:  10px;
				box-shadow: 1px 1px 1px 1px #00d8f8 inset, 0px 0px 10px #00d8f8, 10px 10px 10px black;
				
			}
			div.ira a{
				text-decoration: none;
				color: #00d8f8;

			}
			div.iani{
				z-index: 13;
				position: absolute;
				background: rgba(41, 41, 41, 0.76);
				display: inline-block;
				width: 110px;
				color: #00d8f8;
				margin-top: 0px;
				left: 100%;
				height: 35px;
				box-shadow:1px 1px 1px 1px #00d8f8 inset, 0px 0px 10px #00d8f8, 10px 10px 10px black;
				padding-left:  10px;



			}
			i#rapido{
				color: #00d8f8;
				z-index: 14;
				position: absolute;
				left: 100%;
				background: black ;
				border-radius: 10px;
				margin-top:8px ;
				margin-left: 10px;
				box-shadow:1px 1px 1px 1px #00d8f8 inset, 0px 0px 10px #00d8f8, 10px 10px 10px black;

			}
			div.tab{
	
				width: 43%;
				height: 400px;
				color: transparent;
				margin-left: 100px;
				padding-left: 0;
				overflow: hidden;
				padding: 0;
				border: 5px solid #415066;
				position: relative;
				float: left;
				box-shadow:1px 1px 1px 1px #00d8f8 inset, 0px 0px 20px #00d8f8, 20px 20px 20px black;
			
				}
			
				
			
	
		ul.pnac{
			position:  relative;
			padding: 0;	
			margin: 0;
			white-space: nowrap;
			
			text-align: center;
		
		
				}
		
		.pnac li{
			
			width: 100%;
			height: 400px;
			margin: 0 auto;
			display: inline-block;
			margin-left: -3px;
		
			
		
				}
		
		
		.pnac li img.foto{
	
			top: 0;
			left: 0;
			max-height:  ;
			text-align: center;
			width: 100%;
			height: 100%;
			
				}
		
		
		
		
		
		.fincas{
			position: relative;
			bottom: 40px;
			width: 100%;
			float: right;
			background: rgba(0, 0, 0, 0.6);
			padding: 0;
			margin: 0;
			display: inline-block;
		}
		
		.tit{
			color: #00c5b9;
			font-weight: 700;
			font-size: 1.6em;
			margin-bottom: 0;
			margin-top: 0;
			
				}
		
				.slider-controls {
			text-align: center;
			position: absolute;
			z-index: 10;
			bottom: 0px;
			left: 50%;
			margin: 0;
			padding: 0;
			transform: translate(-50%, 0);
			
		}

		.slider-controls li {
			background: #415066;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			height: 12px;
			display: inline-block;
			width: 12px;
			margin: 0 4px;
			cursor: pointer;
			box-shadow: 1px 1px 1px #00c5b9 inset, 1px 1px 1px black, 1px 5px 5px black ;

				}

			ul.slider-controls li:hover {
			background: #00c5b9;
			box-shadow: 1px 1px 1px white inset, 1px 1px 1px white, 1px 5px 5px white ;
		}
			div.vis{
			background: rgba(0, 0, 0, 0.6);
				position: relative;
			bottom: 400px;
			left: 320px;
			width: 200px;
			word-wrap: break-word;
			white-space: normal;
			text-align: left;

			}

			h3#visa {
				margin: 05px;
 				bottom: 20px;
 				float: right;
 				font-family: goudy old style;
 				font-size: 18px;
 				color:#000000;
 				text-shadow: 1px 1px 1px #000000;
				
					}

			p.visi{
			 	margin: 05px;
			 	
			 	float: right;
			 	font-family: goudy old style;
			 	font-size: 18px;
			 	color:#000000;
			 	text-shadow: 1px 1px 1px #000000;
			 }
			
			div.dere{
		 	float: right;
		 	display: block;
		 	width: 200px;
		 	height: 450px;
		 	padding: 0;
		 	margin: 0;
		 	margin-top: 30px;


		 	
		 }
		 div#polsos1, #polsos2, #polsos{
		 	box-shadow:  0px 5px 10px black, 0px 5px 5px #00d8ff inset;
		 }
		
		ul.der {
			display: block;
			margin: 0;
			padding: 0;
			width: 200px;
			height: 450px;
			list-style: none;
			box-shadow:1px 1px 1px 1px #00d8f8 inset, 0px 0px 20px #00d8f8, 20px 20px 20px black;
			
		
		}
		ul.der11{
			display: block;
			margin: 0;
			padding: 0;
			width: 100px;
			
			list-style: none;
			box-shadow:1px 1px 1px 1px #00d8f8 inset, 0px 0px 20px #00d8f8, 20px 20px 20px black;
			
		
		}
		ul.der12{
			display: block;
			margin: 0;
			padding: 0;
			width: 200px;
			height: 330px;
			list-style: none;
			box-shadow:1px 1px 1px 1px #00d8f8 inset, 0px 0px 20px #00d8f8, 20px 20px 20px black;
			
		
		}
		
		.der li {
			height:25%;
			width: 200px;
		}
		
		img.de{
			height: 100%;
			width: 200px;
		}
		img.de1{
			height: 112px;
			width: 200px;
			margin-top: -5px;
			
		}
		img.de1:hover{
			transition: 0.3s;
			box-shadow:5px 5px 5px 5px #78ff00 inset, 5px 5px 5px black , 5px 5px 5px black ;
			border: 5px solid black;

		}
		img.de:hover{
			transition: 0.3s;
			box-shadow:5px 5px 5px 5px #78ff00 inset, 5px 5px 5px black , 5px 5px 5px black ;
			border: 5px solid black;

		}
		div#alquilerf{
			display: block;
			height: 500px;
			width: 300px;
		}
		ul#der3{
			display: inline-block;
		}
		ul#der3 li{
			height: 56.25px;
			width: 100px;
		}
		ul#der3 li:hover {
			height: 80.25px;
			width: 120px;
			
		}
		
		
		ul#der3 li img{
			height: 56.25px;
			width: 100px;
		display:inline-block;

		}	
				ul#der3 li img:hover{
		height: 80.25px;
		width: 120px;

			}

		footer{
			height: 60px;
			background-color: rgba(41, 41, 41, 0.76);
			width: 100%;
			box-shadow: 0px -5px  10px #00d8ff;

			}

 				footer h3{
 			font-family:Papyrus LET;
 			text-transform:capitalize ;
			text-align: center;
			margin: 0;
 			padding: 0;


 				}
 				div#polsos::-webkit-scrollbar-track
					{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				border-radius: 5px;
				background-color: rgba(0, 0, 0, 0.36);
						}
			
						div#polsos::-webkit-scrollbar
					{
				width: 8px;
				background-color: transparent;
				border-radius: 5px;
					}

			div#polsos::-webkit-scrollbar-thumb
			{
			border-radius: 5px;
			background-color: #00d8ff;
				background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
				background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
				background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
			}
			
 			div.pies{
 				text-align: center;
 				margin: 20px;
 				padding: 0;
 				margin-top: 05px;
 				margin-left:70px ;
 				margin-right: 70px;

 				
 			}
 				footer h3{
 					font-size: 20px; 				
 					color: white;

 				}
 				footer h3:hover{
 							
 					color: #00d8ff;
 					transition: 1s;
 					cursor: pointer;
 					text-shadow: 1px 3px 6px rgb(138, 214, 0), 2px 3px 5px #00d8ff;
 				}

 					h3.titu0{
 						
 						float: left;
 						display: block;
 						margin: 0;
 						padding: 0;
 						text-shadow: 1px 3px 6px rgb(138, 214, 0);



 					}
 					h3.titu1{
 						
 						display: inline-block;
 						margin: 0;
 						padding: 0;
 						text-shadow: 1px 3px 6px rgb(138, 214, 0);

 					}
					h3.titu2{
 						
 						float: right;
 						display: block;
 						margin: 0;
 						text-shadow: 1px 3px 6px rgb(138, 214, 0);
 						padding: 0;	
 					}
 		div.poli h3{
 			text-align: center;
 		 	font-family:Papyrus LET;
 		 	font-size: 20px;
 		 	color: #00d8ff;
 		}
 		p.politica{
 		margin-right: 30px  ;
 		margin-left: 30px;
 		color:#00d8ff;
 		}

 		ul.contactanos{
 		list-style: none;

 		}
 		ul.contactanos a{
 		text-decoration: none;
 		}

		.c {
		display: inline-block;
		color: white;

		}
	
		input.c{
		margin-right: 30px;
		}
		p.c{
		margin-right: 30px;
		padding-top:  10px;
		font-size: 20px;
		}

body#inicio2 {
	background-image: url('imagenes/fondo2.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		display: block;
		padding: 0px;
		margin: 0px 0px 0px 0px;

 			}

 		ul.menupag2{
 		background-color: rgba(41, 41, 41, 0.76); 
 		float: right;
 		list-style: none;
 		padding: 0;
 		width:100%;
 		display: block;
 		margin: 0;
 		margin-top: -20px;
 		position: relative;
 		box-shadow: 0px 0px  5px  white inset;
	border-radius: 0px 0px 10px 10px;
 		}

 		ul.menupag2 li{
 			display: inline-block;
 			width: 260px;
		 	padding: 0;
		 	margin: 0;
		 	padding: 0;
		 	padding-top: 15px;
			padding-bottom: 15px;
			font-size: 22px;
			text-align: center;


		 	}
		

		
		
				ul.menupag2 a{
			text-decoration: none;
			color: white;
			text-align: center;
		
		}
		ul.menupag2 li:hover{
			border-radius: 10px;
			background: rgb(138, 214, 0);
				cursor: pointer;
				box-shadow: 0px 5px 0px rgb(64, 99, 0), 0px 10px 10px #000, 0px 0px 3px #273800 inset;
			transition: 1s;
			text-shadow: 2px 2px 2px black, 0px 2px 2px black;


			}
			ul.menupag2 li ul.desplega{
				position: absolute;
				width: 260px;
				background: rgba(0, 216, 255, 0.82);
				border-radius: 0px 0px 10px 10px;
				padding: 0;
				top: 100%;
				display: none;
				box-shadow: 0px 5px 0px rgba(0, 75, 88, 0.82), 0px 10px 10px #000, 0px 0px 3px rgb(0, 51, 60) inset;
				z-index: 3;
				color: white;

			}
			ul.menupag2 li ul.desplega li{
				display: block;
			}
			ul.menupag2 li ul.desplega li:hover{
				transition: 0.2s;
				background: #2196F3;
				box-shadow:0px 5px 0px #001486, 0px 10px 10px #000, 0px 0px 3px #273800 inset ;
			}


			
			div.contball{
			margin: 0px;
			padding: 0;
			height: 420px;
			width: 1330px;
			
							}
			div.contguajira{
			margin:0px;
			padding: 0;
			height: 420px;
			width: 1330px;
			

			}

						

			div.n1ac{
				width: 940px;
				height: 400px;
				
				margin: 30px;
				margin-top: 05px;
				margin-right: 0px;
				overflow: auto;
				display: inline-block;
				position: relative;
				background: rgba(8, 8, 8, 0.83);
				border-radius: 5px;

			}

					div.n1ac::-webkit-scrollbar-track
						{
						-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
						border-radius: 5px;
						background-color: rgba(113, 113, 113, 0.65);
						}
			
					div.n1ac::-webkit-scrollbar
								{
							width: 8px;
							background-color: transparent;
							border-radius: 5px;
							}

					div.n1ac::-webkit-scrollbar-thumb
						{
						border-radius: 5px;
						background-color: #00d8ff;
									background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
									background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
									background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
								}

			div.n1ac h2.n1ac1{
				display: block;
				font-family: Papyrus LET;
				color:#13ff27;
				position: relative;
				width: 600px;
				margin-left: 15px;

			}

			div.n1ac p{
				width: 490px;
				
				font-size: 23px;
				display: inline-block;
				position: relative;
				float: left;
				margin-left: 40px;
				color: #00d8ff;
				display: block;
			}
			div.n1ac img{
				width: 380px;
				height: 280px;
				position: relative;
				float: right;
				margin: 10px;
				margin-left: 0px;
				
			}



						div.n1ac1{
				width: 90%;
				height: 500px;
				overflow: scroll;
				margin: 30px;
				margin-top: 05px;
				margin-right: 0px;
				margin-bottom: 60px;
				overflow: auto;
				display: inline-block;
				position: relative;
				background: rgba(8, 8, 8, 0.83);
				border-radius: 5px;

						}

					div.n1ac1::-webkit-scrollbar-track
						{
						-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
						border-radius: 5px;
						background-color: rgba(113, 113, 113, 0.65);
						}
			
					div.n1ac1::-webkit-scrollbar
								{
							width: 8px;
							background-color: transparent;
							border-radius: 5px;
							}

					div.n1ac1::-webkit-scrollbar-thumb
						{
						border-radius: 5px;
						background-color: #00d8ff;
									background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
									background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
									background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
								}

			div.n1ac1 h2{
				display: block;
				font-family: Papyrus LET;
				color:#13ff27;
				position: relative;
				width: 600px;
				margin-left: 15px;

			}

			div.n1ac1 p{
				width: 490px;
				
				font-size: 23px;
				display: inline-block;
				position: relative;
				float: left;
				margin-left: 40px;
				color: #00d8ff;
				display: block;
			}
			div.n1ac1 img{
				width: 50%;
				height: 280px;
				position: relative;
				float: right;
				margin: 10px;
				margin-left: 0px;
				}
			div.video{
				width: 320px;
				height: 200px;
				margin: 0;
				padding: 0;
				float: right;
				background: rgba(8, 8, 8, 0.83);
				margin-top: 50px;
				margin-right: 20px;
				padding:10px ;
				padding-right: 5px;
				padding-top: 20px;
				border-radius: 20px;
				position: relative;


			}

body#paquetes2 {
	background-image: url('imapaqinte/eifel.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		display: block;
		padding: 0px;
		margin: 0px 0px 0px 0px;


		}

body#inicio3 {
	background-image: url('ibague/ocobo2.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		display: block;
		padding: 0px;
		margin: 0px 0px 0px 0px;


		}

 .vi{
 	text-align: center;
 }

 	.icologo{
 		position: absolute;
 		width: 55px;
 		height: 25px;
 		margin: 0px;
 		margin-left: 5px;
 		padding: 0px;


 	}

@media screen and (max-width:1027px) {
		header.cabecera
		{
			background: rgba(41, 41, 41, 0.76);
			width: 100%;
			height: 100px;
			display: block;
			margin: 0;
			position: relative;
			top: -20px;
			padding: 0px;
			z-index: 2;
			box-shadow: 0px 5px  10px #00d8ff;
			
				}
		 img.logo{
		
 			margin: 15px;
 			margin-right: 0;
 			width: 60%;
 			height: ;
 			padding-top: 10px;
 			display: inline-block;
 			float: left;
 			margin-bottom: 0;
		
		
 			}
 			div.icosoc{
 		
 		position: relative;
 		width: 180px;
 		margin: 0;
 		display: inline-block;
 		margin-left: 0%;
 		margin-top: 2%;

 			}
 			form.uno{
 			width: 8%;
 			margin: 0px;
 			margin-right: 0px;
 			margin-top: 2%;
 			float: right;
 			display: inline-block;
			overflow: inherit; 			}

 			p.idi {
 				display:none
 			}
 			div.dere {
    		float: right;
    		display: none;
    		width: 200px;
    		height: 450px;
    		padding: 0;
    		margin: 0;
    		margin-top: 30px;
			}
	ul.menu {
   				float: right;
   				list-style: none;
   				margin-right: 40px;
   				width: 230px;
   				display: block;
   				margin: 0px;
   				padding: 0px;
		}	
			div.video{
				display: none;
			}	

		div#polsos, #polsos1, #polsos2 {
   		 width: 90%;
   		 height: 400px;
   		 color: white;
   		 margin-left: 1%;
   		 padding-left: 0;
   		 overflow: auto;
   		 padding: 0;
   		 background: rgba(41, 41, 41, 0.76);
   		 position: relative;
   		 float: left;
   		 border-radius: 5px;
			}	
			p.politica {
  			 margin-right: 2%;
  			 margin-left: 2%;
  			 color: #00d8ff;
			}
			div.poli h3 {
			text-align: center;
    		font-family: Papyrus LET;
    		font-size: 20px;
    		color: #00d8ff;
				}



		pnac li img.foto{
	
			top: 0;
			left: 0;
			max-height:  ;
			text-align: center;
			width: 100%;
			height: 100%;
			
				}

		div.tab {
    		width: 60%;
    		height: 400px;
    		color: transparent;
    		margin-left: 100px;
    		padding-left: 0;
    		overflow: hidden;
    		padding: 0;
    		border: 5px solid #415066;
    		position: relative;
    		float: left;
    		box-shadow: 1px 1px 1px 1px #00d8f8 inset, 0px 0px 20px #00d8f8, 20px 20px 20px black;
		}


		a.ultimate li{
			margin-bottom: 70px;
		}

}	

	@media screen and (max-width:768px) {
		header.cabecera
		{
			background: rgba(41, 41, 41, 0.76);
			width: 100%;
			height: 100px;
			display: block;
			margin: 0;
			position: relative;
			top: -20px;
			padding: 0px;
			z-index: 2;
			box-shadow: 0px 5px  10px #00d8ff;
			
				}
		 img.logo{
		
 			margin: 15px;
 			margin-right: 30px;
 			width: 60%;
 			height: ;
 			padding-top: 10px;
 			display: inline-block;
 			float: left;
 			margin-bottom: 0;
		
		
 			}
 			div.icosoc{
 		
 		position: relative;
 		width: 100px;
 		margin: 0;
 		display: inline-block;
 		margin-left: 2%;
 		margin-top: 4%;

 			}
 			form.uno{
 			width: 8%;
 			margin: 0px;
 			margin-right: 0px;
 			margin-top: 3%;
 			float: right;
 			display: inline-block;
 			overflow: inherit;
 			}

 			p.idi {
 				display:none
 			}
 			ul.redso li.icored2{
		display: none;
		list-style: none;
		margin: 0;
		margin-left: 10px;
		margin-right: 10px;
 			}
		
			
				h3.titu2, h3.titu1 {
   				 float: right;
   				 display: none;
   				 margin: 0;
   				 text-shadow: 1px 3px 6px rgb(138, 214, 0);
   				 padding: 0;
				}
				div.video{
					display: none;
				}
				div.n1ac {
			  width: 90%;
			  height: 400px;
			  margin: 30px;
			  margin-top: 05px;
			  margin-right: 0px;
			  overflow: auto;
			  display: inline-block;
			  position: relative;
			  background: rgba(8, 8, 8, 0.83);
			  border-radius: 5px;
			}
			div.n1ac h2.n1ac1 {
  				display: block;
  				font-family: Papyrus LET;
  				color: #13ff27;
  				position: relative;
  				width: 90%;
  				margin-left: 0;
			}
			div.n1ac p {
    				width: 90%;
    				font-size: 23px;
    				display: inline-block;
    				position: relative;
    				float: left;
    				margin-left: 0;
    				color: #00d8ff;
    				display: block;
				}
				div#polsos, #polsos1, #polsos2 {
   		 width: 90%;
   		 height: 400px;
   		 color: white;
   		 margin-left: 1%;
   		 padding-left: 0;
   		 overflow: auto;
   		 padding: 0;
   		 background: rgba(41, 41, 41, 0.76);
   		 position: relative;
   		 float: left;
   		 border-radius: 5px;
			}	
			p.politica {
  			 margin-right: 2%;
  			 margin-left: 2%;
  			 color: #00d8ff;
			}
			div.poli h3 {
			text-align: center;
    		font-family: Papyrus LET;
    		font-size: 20px;
    		color: #00d8ff;
				}

				a.ultimate li{
			margin-bottom: 70px;
		}
}	
@media screen and (max-width:450px) {
	header.cabecera
		{
			background: rgba(41, 41, 41, 0.76);
			width: 100%;
			height: 100px;
			display: block;
			margin: 0;
			position: relative;
			top: -20px;
			padding: 0px;
			z-index: 2;
			box-shadow: 0px 5px  10px #00d8ff;
			
				}
		 img.logo{
		
 			margin: 15px;
 			margin-right: 30px;
 			width: 70%;
 			height: ;
 			padding-top: 10px;
 			display: block;
 			float: left;
 			margin-bottom: 0;
		
		
 			}
 			div.icosoc{
 		display: none;
 		position: relative;
 		width: 20%;
 		margin: 0;
 		margin-left: 10%;
 		margin-top: 4%;

 			}

 			form.uno{
 			width: 10%;
 			margin: 0;
 			margin-right: 0px;
 			margin-top: 4%;
 			float: right;
 			display: inline-block;
 			overflow: inherit;
 			}

 			p.idi {
 				display:none
 			}
			ul.redso li.icored2{
		display: none;
		list-style: none;
		margin: 0;
		margin-left: 10px;
		margin-right: 10px;
 			}
				h3.titu2, h3.titu1 {
   				 float: right;
   				 display: none;
   				 margin: 0;
   				 text-shadow: 1px 3px 6px rgb(138, 214, 0);
   				 padding: 0;
				}
				div.video{
					display: none;
				}
				div.n1ac {
			  width: 90%;
			  height: 400px;
			  margin: 30px;
			  margin-top: 05px;
			  margin-right: 0px;
			  overflow: auto;
			  display: inline-block;
			  position: relative;
			  background: rgba(8, 8, 8, 0.83);
			  border-radius: 5px;
			}
			div.n1ac h2.n1ac1 {
  				display: block;
  				font-family: Papyrus LET;
  				color: #13ff27;
  				position: relative;
  				width: 90%;
  				margin-left: 0;
			}
			div.n1ac p {
    				width: 90%;
    				font-size: 23px;
    				display: inline-block;
    				position: relative;
    				float: left;
    				margin-left: 0;
    				color: #00d8ff;
    				display: block;
				}
				div#polsos, #polsos1, #polsos2 {
   		 width: 90%;
   		 height: 400px;
   		 color: white;
   		 margin-left: 2%;
   		 padding-left: 0;
   		 overflow: auto;
   		 padding: 0;
   		 background: rgba(41, 41, 41, 0.76);
   		 position: relative;
   		 float: left;
   		 border-radius: 5px;
			}	
			p.politica {
  			 margin-right: 2%;
  			 margin-left: 2%;
  			 color: #00d8ff;
			}
			div.poli h3 {
			text-align: center;
    		font-family: Papyrus LET;
    		font-size: 20px;
    		color: #00d8ff;
				}
				a.ultimate li{
			margin-bottom: 70px;
		}
}


	body#inicio4 {
	background-image: url('ibague/inicio4.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		display: block;
		padding: 0px;
		margin: 0px 0px 0px 0px;


		}

		ul#menupag3 li{
 			
			width:  12%;
		 	}

		ul#menupag3 li.dropdown ul li {
			width: 90%;
		}

	
